* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    background-color: #FAF9F6;
    font-family: formula1;
    font-size: 4rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: #FAF9F6;
    font-family: formula1;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 75vh;
}

.current-player {
    font-family: formula1;
}

.game {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem;
    grid-template-rows: 9rem 9rem 9rem;
    border: 5px solid #24292e;
    border-radius: 10px;
}

.card {
    border: 3px solid #24292e;
}

.card:hover {
    background-color: rgb(235, 234, 230);
}

.button {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    border: 3px solid #24292e;
    border-right: 7px solid #24292e;
    border-bottom: 7px solid #24292e;
    border-radius: 8px;
    background-color: #FAF9F6;
}

.button:hover {
    background-color: #0a79e8;
    color: #FAF9F6;
}

.button:active {
    background-color: #084f96;
    color: #FAF9F6;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: italic;
    font-size: 25px;
    background-color: #FAF9F6;
    height: 15vh;
}

.pick {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.card.highlight {
    color: red;
}

.card.draw {
    color: #0a79e8;
}